In [2]:
import pandas as pd
people = {
    'first': ['Adam', 'Ewa', 'Jan'],
    'last': ['Kowalski', 'Nowak', 'Nowak'],
    'email': ['adam.kowalki@mail.com', 'ewa.kowalska@mail.com', 'jan.kowalski@gmail.com']
}
df = pd.DataFrame(people)

In [3]:
df.columns = ['fist_name', 'last_name', 'email']

In [4]:
df

  fist_name last_name                   email
0      Adam  Kowalski   adam.kowalki@mail.com
1       Ewa     Nowak   ewa.kowalska@mail.com
2       Jan     Nowak  jan.kowalski@gmail.com

In [5]:
df.columns = [x.lower() for x in df.columns]
df

  fist_name last_name                   email
0      Adam  Kowalski   adam.kowalki@mail.com
1       Ewa     Nowak   ewa.kowalska@mail.com
2       Jan     Nowak  jan.kowalski@gmail.com

In [6]:
df.columns = df.columns.str.replace('_', '-')
df

  fist-name last-name                   email
0      Adam  Kowalski   adam.kowalki@mail.com
1       Ewa     Nowak   ewa.kowalska@mail.com
2       Jan     Nowak  jan.kowalski@gmail.com

In [7]:
df.rename(columns={'fist-name': 'first', 'last-name': 'last'}, inplace=True)

In [8]:
df.loc[2] = ['Jan', 'Górny', 'adam.gorny@gmail.com']
df

  first      last                  email
0  Adam  Kowalski  adam.kowalki@mail.com
1   Ewa     Nowak  ewa.kowalska@mail.com
2   Jan     Górny   adam.gorny@gmail.com

In [9]:
df.loc[2, ['last', 'email']] = ['Dolny', 'jan.dolny@gmail.com']
df

  first      last                  email
0  Adam  Kowalski  adam.kowalki@mail.com
1   Ewa     Nowak  ewa.kowalska@mail.com
2   Jan     Dolny    jan.dolny@gmail.com

In [10]:
df.loc[2, 'last'] = 'Maly'
df

  first      last                  email
0  Adam  Kowalski  adam.kowalki@mail.com
1   Ewa     Nowak  ewa.kowalska@mail.com
2   Jan      Maly    jan.dolny@gmail.com

In [11]:
df.at[2, 'last'] = 'Duzy'
df

  first      last                  email
0  Adam  Kowalski  adam.kowalki@mail.com
1   Ewa     Nowak  ewa.kowalska@mail.com
2   Jan      Duzy    jan.dolny@gmail.com

In [12]:
filt = (df['email'] == 'jan.dolny@gmail.com')
df[filt]['last'] = 'Ewa'

C:\Users\gracj\AppData\Local\Temp\ipykernel_20780\1770570991.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last'] = 'Ewa'

In [13]:
filt = (df['email'] == 'jan.dolny@gmail.com')
df.loc[filt,'last'] = 'Ewa'
df

  first      last                  email
0  Adam  Kowalski  adam.kowalki@mail.com
1   Ewa     Nowak  ewa.kowalska@mail.com
2   Jan       Ewa    jan.dolny@gmail.com

In [14]:
df['email'] = df['email'].str.upper()
df

  first      last                  email
0  Adam  Kowalski  ADAM.KOWALKI@MAIL.COM
1   Ewa     Nowak  EWA.KOWALSKA@MAIL.COM
2   Jan       Ewa    JAN.DOLNY@GMAIL.COM

In [15]:
df['email'].apply(len)

0    21
1    21
2    19
Name: email, dtype: int64

In [20]:
def update_email(email):
    return email.lower()

In [22]:
df['email'].apply(update_email)

0    adam.kowalki@mail.com
1    ewa.kowalska@mail.com
2      jan.dolny@gmail.com
Name: email, dtype: object

In [30]:
df['email'] = df['email'].apply(update_email)
df

  first      last                  email
0  Adam  Kowalski  adam.kowalki@mail.com
1   Ewa     Nowak  ewa.kowalska@mail.com
2   Jan       Ewa    jan.dolny@gmail.com

In [32]:
df['email'] = df['email'].apply(lambda x: x.lower())
df

  first      last                  email
0  Adam  Kowalski  adam.kowalki@mail.com
1   Ewa     Nowak  ewa.kowalska@mail.com
2   Jan       Ewa    jan.dolny@gmail.com

In [34]:
df['email'].apply(len)

0    21
1    21
2    19
Name: email, dtype: int64

In [36]:
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [38]:
len(df['email'])

3

In [40]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [42]:
df.apply(pd.Series.min)

first                     Adam
last                       Ewa
email    adam.kowalki@mail.com
dtype: object

In [45]:
df.apply(lambda x: x.min())

first                     Adam
last                       Ewa
email    adam.kowalki@mail.com
dtype: object

In [47]:
df.applymap(len)

   first  last  email
0      4     8     21
1      3     5     21
2      3     3     19

In [49]:
df.applymap(str.lower)

  first      last                  email
0  adam  kowalski  adam.kowalki@mail.com
1   ewa     nowak  ewa.kowalska@mail.com
2   jan       ewa    jan.dolny@gmail.com

In [55]:
df['first'].map({'Adam': 'Wit', 'Ewa': 'Iga'})

0    wit
1    iga
2    NaN
Name: first, dtype: object

In [59]:
df['first'] = df['first'].replace({'Adam': 'Wit', 'Ewa': 'Iga'})
df

  first      last                  email
0   Wit  Kowalski  adam.kowalki@mail.com
1   Iga     Nowak  ewa.kowalska@mail.com
2   Jan       Ewa    jan.dolny@gmail.com