In [1]:
import pandas as pd

In [9]:
people = {
    'first': ['Adam', 'Ewa', 'Jan'],
    'last': ['Kowalski', 'Nowak', 'Nowak'],
    'email': ['adam.kowalki@mail.com', 'ewa.kowalska@mail.com', 'jan.kowalski@gmail.com']
}

In [10]:
df = pd.DataFrame(people)

In [12]:
df

  first      last                   email
0  Adam  Kowalski   adam.kowalki@mail.com
1   Ewa     Nowak   ewa.kowalska@mail.com
2   Jan     Nowak  jan.kowalski@gmail.com

In [23]:
df['email']

0     adam.kowalki@mail.com
1     ewa.kowalska@mail.com
2    jan.kowalski@gmail.com
Name: email, dtype: object

In [26]:
df.email

0     adam.kowalki@mail.com
1     ewa.kowalska@mail.com
2    jan.kowalski@gmail.com
Name: email, dtype: object

In [39]:
type(df['email'])

pandas.core.series.Series

In [51]:
df[['last', 'email']]

last                  Kowalski
email    adam.kowalki@mail.com
Name: 0, dtype: object

In [49]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [62]:
df.iloc[[0, 1], 1]

0    Kowalski
1       Nowak
Name: last, dtype: object

In [65]:
df.loc[[0, 1], ['email', 'first']]

                   email first
0  adam.kowalki@mail.com  Adam
1  ewa.kowalska@mail.com   Ewa