In [2]:
import pandas as pd
df = pd.read_csv('survey_results_public.csv', index_col='ResponseId')
schema_df = pd.read_csv('survey_results_schema.csv', index_col='qname')
pd.set_option('display.max_columns', 79)
pd.set_option('display.max_rows', 79)

In [3]:
df['CompTotal'].median()

77500.0

In [4]:
df.median()

C:\Users\gracj\AppData\Local\Temp\ipykernel_5468\530051474.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

CompTotal                    77500.0
VCHostingPersonal use            NaN
VCHostingProfessional use        NaN
WorkExp                          8.0
ConvertedCompYearly          67845.0
dtype: float64

In [5]:
df.describe()

,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
count,3.842200e+04,0.0,0.0,36769.000000,3.807100e+04
mean,2.342434e+52,NaN,NaN,10.242378,1.707613e+05
std,4.591478e+54,NaN,NaN,8.706850,7.814132e+05
min,0.000000e+00,NaN,NaN,0.000000,1.000000e+00
25%,3.000000e+04,NaN,NaN,4.000000,3.583200e+04
50%,7.750000e+04,NaN,NaN,8.000000,6.784500e+04
75%,1.540000e+05,NaN,NaN,15.000000,1.200000e+05
max,9.000000e+56,NaN,NaN,50.000000,5.000000e+07

In [6]:
df['CompTotal'].count()

38422

In [7]:
df['TrueFalse_1'].value_counts()

Yes    23767
No     12052
Name: TrueFalse_1, dtype: int64

In [8]:
schema_df.loc['Sexuality', 'question']

'Which of the following describe you, if any? Please check all that apply.'

In [9]:
df['Sexuality']

ResponseId
1                            NaN
2                            NaN
3                       Bisexual
4        Straight / Heterosexual
5                            NaN
                  ...
73264    Straight / Heterosexual
73265    Straight / Heterosexual
73266    Straight / Heterosexual
73267    Straight / Heterosexual
73268    Straight / Heterosexual
Name: Sexuality, Length: 73268, dtype: object

In [10]:
df['Sexuality'].value_counts(normalize=True)

Straight / Heterosexual                                                           0.829835
Prefer not to say                                                                 0.065350
Bisexual                                                                          0.040562
Gay or Lesbian                                                                    0.020762
Prefer to self-describe:                                                          0.016210
Queer                                                                             0.005919
Bisexual;Straight / Heterosexual                                                  0.005318
Bisexual;Queer                                                                    0.004236
Straight / Heterosexual;Prefer to self-describe:                                  0.002539
Gay or Lesbian;Queer                                                              0.002253
Straight / Heterosexual;Queer                                                     0.001187
Bisexual;Gay or Lesbian                                                           0.001097
Prefer to self-describe:;Queer                                                    0.000766
Bisexual;Gay or Lesbian;Queer                                                     0.000661
Bisexual;Straight / Heterosexual;Gay or Lesbian;Queer                             0.000541
Bisexual;Prefer to self-describe:                                                 0.000451
Bisexual;Prefer to self-describe:;Queer                                           0.000391
Bisexual;Straight / Heterosexual;Prefer to self-describe:;Gay or Lesbian;Queer    0.000376
Bisexual;Straight / Heterosexual;Gay or Lesbian                                   0.000315
Bisexual;Straight / Heterosexual;Queer                                            0.000285
Prefer to self-describe:;Gay or Lesbian                                           0.000180
Prefer to self-describe:;Gay or Lesbian;Queer                                     0.000180
Straight / Heterosexual;Gay or Lesbian                                            0.000180
Bisexual;Straight / Heterosexual;Prefer to self-describe:                         0.000120
Straight / Heterosexual;Prefer to self-describe:;Queer                            0.000105
Bisexual;Prefer to self-describe:;Gay or Lesbian                                  0.000045
Straight / Heterosexual;Gay or Lesbian;Queer                                      0.000030
Bisexual;Straight / Heterosexual;Prefer to self-describe:;Gay or Lesbian          0.000030
Bisexual;Prefer to self-describe:;Gay or Lesbian;Queer                            0.000030
Bisexual;Straight / Heterosexual;Prefer to self-describe:;Queer                   0.000015
Straight / Heterosexual;Prefer to self-describe:;Gay or Lesbian;Queer             0.000015
Straight / Heterosexual;Prefer to self-describe:;Gay or Lesbian                   0.000015
Name: Sexuality, dtype: float64

In [11]:
df['Country'].value_counts()

United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
                                                        ...
Monaco                                                      1
Djibouti                                                    1
Seychelles                                                  1
Solomon Islands                                             1
Saint Kitts and Nevis                                       1
Name: Country, Length: 180, dtype: int64

In [12]:
country_grp = df.groupby(['Country'])

In [13]:
country_grp.get_group('India')

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
7,I code primarily as a hobby,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses,NaN,3,NaN,NaN,NaN,NaN,Start a free trial;Visit developer communities...,India,NaN,NaN,NaN,C++;HTML/CSS;JavaScript;PHP;Python;TypeScript,C;C#;C++;Elixir;Go;HTML/CSS;Java;JavaScript;Ko...,Cloud Firestore;MongoDB;Firebase Realtime Data...,MySQL;Oracle;PostgreSQL,NaN,NaN,Angular;Next.js;Node.js;React.js;Svelte;Vue.js,Django;Flask;Gatsby;jQuery;Next.js;Node.js;Rea...,NaN,NaN,Homebrew;npm,npm,Atom;IntelliJ;Notepad++;PyCharm;Sublime Text;V...,Visual Studio Code;Webstorm,macOS,macOS,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Google Chat;Microsoft Teams;Slack;Zoom,Google Chat;Slack;Zoom,Favorable,Stack Overflow,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",Under 18 years old,Man,No,NaN,Indian,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
8,I am a developer by profession,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...,Online Courses or Certification,NaN,Coursera;Udemy,1,NaN,"Developer, full-stack;Student",NaN,NaN,Start a free trial,India,NaN,NaN,NaN,C;C++;HTML/CSS;Java;JavaScript;SQL,APL;Bash/Shell;Go;Python;TypeScript,MongoDB;MySQL,Neo4j;PostgreSQL,AWS;Google Cloud;Heroku,DigitalOcean;Firebase;Microsoft Azure;VMware,jQuery;Node.js,Angular;Angular.js;Next.js;Vue.js,NaN,NaN,npm,Unity 3D;Yarn,Atom;CLion;Eclipse;IntelliJ;Notepad++;Visual S...,Android Studio;IPython/Jupyter;Sublime Text;Vi...,Linux-based;macOS,Windows,Git,Command-line,NaN,NaN,NaN,NaN,Google Chat;Microsoft Teams;Zoom,NaN,Very favorable,Collectives on Stack Overflow;Stack Overflow;S...,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"Yes, definitely",18-24 years old,Man,No,Straight / Heterosexual,Indian,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
66,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Other (please specify):,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;Inte...,Udemy,3,2,"Developer, back-end;DevOps specialist","10,000 or more employees",I have little or no influence,Start a free trial;Visit developer communities...,India,INR\tIndian rupee,NaN,Monthly,C#,C++;JavaScript,MongoDB;MySQL,NaN,NaN,NaN,NaN,NaN,.NET,.NET;React Native;TensorFlow,NaN,NaN,Eclipse;Notepad++;Sublime Text;Visual Studio;V...,Notepad++;Visual Studio;Visual Studio Code,Windows,Linux-based,Git,Code editor;Command-line,NaN,NaN,Jira Work Management,Jira Work Management,Cisco Webex Teams;Microsoft Teams;Zoom,Microsoft Teams,Unfavorable,Stack Overflow;Stack Exchange,Daily or almost daily,Not sure/can't remember,NaN,"Yes, somewhat",18-24 years old,Man,No,Straight / Heterosexual,Indian,None of the above,None of the above,Yes,Independent contributor,2.0,Strongly agree,Agree,Disagree,Agree,Agree,Agree,Agree,Never,1-2 times a week,3-5 times a week,30-60 minutes a day,15-30 minutes a day,Just right,Microservices;Continuous integration (CI) and ...,No,Yes,Yes,Too long,Easy,NaN
141,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,NaN,13,12,"Developer, front-end;Developer, full-stack;Des...","10,000 or more employees",I have a great deal of influence,Start a free trial;Visit developer communities...,India,INR\tIndian rupee,NaN,NaN,HTML/CSS;JavaScript;Kotlin;TypeScript,Groovy,Elasticsearch;PostgreSQL,MongoDB,NaN,NaN,Angular;Express;jQuery,React.js;Vue.js,Spring,React Native,Kubernetes;npm,Docker;Puppet,IntelliJ,Visual Studio Code;Webstorm,Windows,Windows,Git,Code editor,NaN,NaN,Confluence;Trello,Jira Work Management;Stack Overflow for Teams,Microsoft Teams;Symphony,Cisco Webex Teams,Indifferent,Stack Overflow,Daily or almost daily,Not sure/can't remember,NaN,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,Indian,None of the above,None of the above,Yes,Independent contributor,12.0,Agree,Disagree,Agree,Agree,Neither agree nor disagree,Agree,Agree,Never,1-2 times a week,Never,30-60 minutes a day,30-60 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,NaN
152,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;W...,Udemy;Pluralsight;Udacity,12,12,"Developer, full-stack;Data or business analyst","10,000 or more employees",I have some influence,Ask developers I know/work with;Research compa...,India,INR\tIndian rupee,100000.0,Monthly,Bash/Shell;HTML/CSS;Java;JavaScript;Python;SQL,Bash/Shell;HTML/CSS;Java;JavaScript;Python;SQL,Oracle;PostgreSQL;Redis;SQLite,Oracle;PostgreSQL;Redis;SQLite,Oracle Cloud Infrastructure,Oracle Cloud Infrastructure,Angular;Express;Flask;Next.js;Node.js;React.js,Angular;Express;Flask;Next.js;Node.js;React.js,NumPy;Pandas;Spring,NumPy;Pandas;Spring,Docker;Kubernetes;npm;Yarn,Docker;Kubernetes;npm;Yarn,Notepad++;Visual Studio Code,Notepad++;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git;SVN,Command-line;Version control hosting service w...,NaN,NaN,Microsoft Lists,Microsoft Lists,Microsoft Teams,Microsoft Teams,Very favorable,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,Neutral,25-34 years old,Man,No,Straight / Heterosexual,Indian;Asian,None of the above,None of the above,Yes,People manager,12.0,Strongly agree,Disagree,Agree,Agree,Agree,Agree,Agree,Never,Never,Never,30-60 minutes a day,Less than 15 minutes a day,Somewhat long,None of these,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,15480.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73185,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification,NaN,edX,8,5,"Developer, full-stack","5,000 to 9,999 employees",I have some influence,Start a free trial;Visit developer communities...,India,INR\tIndian rupee,2000000.0,Yearly,Java;Python,Julia;Python,PostgreSQL;SQLite,MongoDB;PostgreSQL;SQLite,AWS,AWS;OpenStack,NaN,NaN,Apache Kafka;Spring,Apache Kafka;Apache Spark;Pandas;React Native,npm,npm,IntelliJ;PyCharm;Sublime Text;Vim;Webstorm,IntelliJ;PyCharm;Vim;Webstorm,Windows,Linux-based;Windows,Git;Other (please specify):,Code editor;Command-line,NaN,NaN,Confluence;Jira Work Management,Confluence;Jira Work Management,Microsoft Teams,Zoom,Favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,Indian;Asian,None of the above,None of the above,Yes,Independent contributor,5.0,Strongly agree,Neither agree nor disagree,Agree,Agree,Agree,Agree,Agree,1-2 times a week,1-2 times a week,1-2 times a week,Over 120 minutes a day,30-60 minutes a day,Just right,Innersource initiative;DevOps function;Microse...,No,Yes,No,Appropriate in length,Easy,NaN
73194,"I used to be a developer by profession, but no...","Employed, full-time",Fully remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Video-b...,Coursera;Udemy,20,18,"Senior Executive (C-Suite, VP, etc.)",NaN,NaN,Start a free trial;Ask developers I know/work ...,India,NaN,NaN,NaN,HTML/CSS;JavaScript,Go;HTML/CSS;Java;JavaScript;TypeScript,MongoDB;Firebase Realtime Database,MongoDB;PostgreSQL;Redis,AWS,AWS;Microsoft Azure,Angular.js;Express;Node.js;React.js,React.js,React Native,Apache Kafka;Flutter;React Native;Spring,Docker;Kubernetes,Docker;Kubernetes;Terraform;Yarn,Sublime Text;Vim;Visual Studio Code,Eclipse;Sublime Text;Vim;Visual Studio Code,macOS,macOS,Git,Command-line,NaN,NaN,Confluence;Jira Work Management,Confluence;Jira Work Management,Slack;Zoom,Slack;Zoom,Indifferent,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,Less than once per month or monthly,"Yes, somewhat",35-44 years old,Man,No,Straight / Heterosexual,Indian,None of the above,None of the above,Yes,People manager,18.0,Strongly agree,Agree,Agree,Agree,Agree,Disagree,Disagree,1-2 times a week,1-2 times a week,1-2 times a week,15-30 minutes a day,15-30 minutes a day,Somewhat long,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Easy,NaN
73256,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,14,7,"Developer, full-stack",100 to 499 employees,I have little or no influence,NaN,India,INR\tIndian rupee,NaN,Monthly,Bash/Shell;C#;HTML/CSS;JavaScript;Perl;PowerSh...,Bash/Shell;C#;HTML/CSS;JavaScript;Perl;PowerSh...,Microsoft SQL Server;MongoDB,Microsoft SQL Server;MongoDB,NaN,NaN,Angular;ASP.NET Core,Angular;ASP.NET Core ;React.js,.NET,.NET,Docker;Kubernetes;npm,Docker;Kubernetes;npm,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Command-line;Version control hosting service w...,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Favorable,Collectives on Stack Overflow;Stack Overflow;S...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Prefer not to say,Indian,None of the above,None of the above,Yes,Independent contributor,7.0,Neither agree nor disagree,Agree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,1-2 times a week,1-2 times a week,1-2 times a week,60-120 minutes a day,Less than 15 minutes a day,Somewhat long,DevOps function;Microservices;Continuous integ...,Yes,Yes,Yes,Too long,Neither easy nor difficult,NaN
73258,I am learning to code,"Student, full-time",NaN,NaN,"Secondary school (e.g. American high school, G...",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,7,NaN,NaN,NaN,NaN,Visit developer communities like Stack Overflo...,India,NaN,NaN,NaN,C;Python;SQL,C;C++,MySQL,NaN,NaN,NaN,NaN,NaN,.NET,NaN,NaN,NaN,Visual Studio;Visual Studio Code,Visual Studio Code,NaN,Windows,Git,Command-line,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Very unfavorable,Stack Overflow;Stack Exchange,Less than once per month or monthly,Yes,Less than once per month or monthly,"No, not at all",Under 18 years old,Man,No,Straight / Heterosexual,Indian,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN
73259,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;Onli...,Coursera;Udemy,5,1,"Developer, back-end",100 to 499 employees,I have some influence,Start a free trial;Ask developers I know/work ...,India,INR\tIndian rupee,3200000.0,Yearly,Go;Java;SQL,JavaScript;TypeScript,MongoDB;MySQL,MySQL;Redis,AWS,Google Cloud,NaN,NaN,Apache Kafka;Spring,NaN,Docker;Homebrew;Kubernetes;npm,Kubernetes,Eclipse;GoLand;Vim;Visual Studio Code,GoLand;Vim;Visual Studio Code,macOS,Linux-based;Windows,Git,Command-line,NaN,NaN,Notion,NaN,Slack;Zoom,NaN,Very favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",18-24 years old,Man,No,Straight / Heterosexual,Asian,NaN,None of the above,Yes,Independent contributor,1.0,Strongly agree,Disagree,Strongly agree,Agree,Neither agree nor disagree,Agree,Agree,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Neither easy nor difficult,NaN

In [17]:
country_grp['Sexuality'].value_counts(normalize=True).loc['Poland']

Sexuality
Straight / Heterosexual                                                           0.862028
Bisexual                                                                          0.041992
Prefer not to say                                                                 0.041992
Gay or Lesbian                                                                    0.016797
Prefer to self-describe:                                                          0.016797
Bisexual;Straight / Heterosexual                                                  0.006599
Queer                                                                             0.004199
Straight / Heterosexual;Prefer to self-describe:                                  0.003599
Bisexual;Queer                                                                    0.002999
Gay or Lesbian;Queer                                                              0.001200
Bisexual;Gay or Lesbian                                                           0.000600
Bisexual;Straight / Heterosexual;Prefer to self-describe:;Gay or Lesbian;Queer    0.000600
Straight / Heterosexual;Gay or Lesbian                                            0.000600
Name: Sexuality, dtype: float64

In [21]:
country_grp['CompTotal'].median().loc['Poland']

16000.0

In [24]:
country_grp['CompTotal'].agg(['median', 'mean']).loc['Canada']

median    112000.000000
mean      125929.087131
Name: Canada, dtype: float64

In [41]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python').sum()

3081

In [43]:
country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              25
Albania                                  19
Algeria                                  19
Andorra                                   4
Angola                                    3
                                       ...
Venezuela, Bolivarian Republic of...     52
Viet Nam                                136
Yemen                                     4
Zambia                                    6
Zimbabwe                                 11
Name: LanguageHaveWorkedWith, Length: 180, dtype: int64

In [46]:
country_respondents = df['Country'].value_counts()
country_respondents

United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
                                                        ...
Monaco                                                      1
Djibouti                                                    1
Seychelles                                                  1
Solomon Islands                                             1
Saint Kitts and Nevis                                       1
Name: Country, Length: 180, dtype: int64

In [48]:
country_uses_python = country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                              25
Albania                                  19
Algeria                                  19
Andorra                                   4
Angola                                    3
                                       ...
Venezuela, Bolivarian Republic of...     52
Viet Nam                                136
Yemen                                     4
Zambia                                    6
Zimbabwe                                 11
Name: LanguageHaveWorkedWith, Length: 180, dtype: int64

In [54]:
python_df = pd.concat([country_respondents, country_uses_python,], axis='columns', sort=False)
python_df

,Country,LanguageHaveWorkedWith
United States of America,13543,7017
India,6639,3081
Germany,5395,2674
United Kingdom of Great Britain and Northern Ireland,4190,2082
Canada,2490,1272
...,...,...
Monaco,1,0
Djibouti,1,0
Seychelles,1,0
Solomon Islands,1,1
Saint Kitts and Nevis,1,1

In [60]:
python_df.rename(columns={'Country': 'Num_Respondents', 'LanguageHaveWorkedWith': 'Num_Knows_Python'}, inplace=True)
python_df

,Num_Respondents,Num_Knows_Python
United States of America,13543,7017
India,6639,3081
Germany,5395,2674
United Kingdom of Great Britain and Northern Ireland,4190,2082
Canada,2490,1272
...,...,...
Monaco,1,0
Djibouti,1,0
Seychelles,1,0
Solomon Islands,1,1
Saint Kitts and Nevis,1,1

In [64]:
python_df['Pct_Knows_Python'] = (python_df['Num_Knows_Python'] / python_df['Num_Respondents']) * 100
python_df

,Num_Respondents,Num_Knows_Python,Pct_Knows_Python
United States of America,13543,7017,51.812745
India,6639,3081,46.407592
Germany,5395,2674,49.564411
United Kingdom of Great Britain and Northern Ireland,4190,2082,49.689737
Canada,2490,1272,51.084337
...,...,...,...
Monaco,1,0,0.000000
Djibouti,1,0,0.000000
Seychelles,1,0,0.000000
Solomon Islands,1,1,100.000000
Saint Kitts and Nevis,1,1,100.000000

In [71]:
python_df.sort_values(by='Pct_Knows_Python', ascending=False, inplace=True)
python_df.loc['Japan']

,Num_Respondents,Num_Knows_Python,Pct_Knows_Python
Saint Kitts and Nevis,1,1,100.000000
Fiji,2,2,100.000000
Papua New Guinea,2,2,100.000000
North Korea,4,4,100.000000
Solomon Islands,1,1,100.000000
Brunei Darussalam,1,1,100.000000
Burkina Faso,1,1,100.000000
Lao People's Democratic Republic,7,6,85.714286
Timor-Leste,4,3,75.000000
Suriname,4,3,75.000000
Democratic Republic of the Congo,7,5,71.428571
Mali,10,7,70.000000
Kuwait,20,14,70.000000
Oman,13,9,69.230769
Botswana,6,4,66.666667
Belize,3,2,66.666667
Haiti,3,2,66.666667
Singapore,226,148,65.486726
Rwanda,20,13,65.000000
Benin,11,7,63.636364
Qatar,20,12,60.000000
Guinea,5,3,60.000000
Isle of Man,12,7,58.333333
Swaziland,7,4,57.142857
Côte d'Ivoire,14,8,57.142857
Israel,795,453,56.981132
Taiwan,233,132,56.652361
Guatemala,54,30,55.555556
Finland,468,260,55.555556
Cuba,31,17,54.838710
Switzerland,932,507,54.399142
Algeria,36,19,52.777778
China,632,332,52.531646
Ireland,332,174,52.409639
Sri Lanka,296,155,52.364865
Hong Kong (S.A.R.),184,96,52.173913
United States of America,13543,7017,51.812745
France,2328,1204,51.718213
Malta,39,20,51.282051
South Korea,229,117,51.091703
Canada,2490,1272,51.084337
Cameroon,34,17,50.000000
Turkmenistan,16,8,50.000000
Jamaica,22,11,50.000000
Palau,2,1,50.000000
Ghana,86,43,50.000000
Lesotho,2,1,50.000000
Nepal,222,111,50.000000
Republic of Korea,72,36,50.000000
Liberia,2,1,50.000000