In [2]:
import pandas as pd
people = {
    'first': ['Adam', 'Ewa', 'Jan'],
    'last': ['Kowalski', 'Nowak', 'Nowak'],
    'email': ['adam.kowalki@mail.com', 'ewa.kowalska@mail.com', 'jan.kowalski@gmail.com']
}
df = pd.DataFrame(people)

In [5]:
df.columns = ['fist_name', 'last_name', 'email']

In [7]:
df

  fist_name last_name                   email
0      Adam  Kowalski   adam.kowalki@mail.com
1       Ewa     Nowak   ewa.kowalska@mail.com
2       Jan     Nowak  jan.kowalski@gmail.com

In [15]:
df.columns = [x.lower() for x in df.columns]
df

  fist-name last-name                   email
0      Adam  Kowalski   adam.kowalki@mail.com
1       Ewa     Nowak   ewa.kowalska@mail.com
2       Jan     Nowak  jan.kowalski@gmail.com

In [17]:
df.columns = df.columns.str.replace('_', '-')
df

  fist-name last-name                   email
0      Adam  Kowalski   adam.kowalki@mail.com
1       Ewa     Nowak   ewa.kowalska@mail.com
2       Jan     Nowak  jan.kowalski@gmail.com

In [21]:
df.rename(columns={'fist-name': 'first', 'last-name': 'last'}, inplace=True)

In [32]:
df.loc[2] = ['Jan', 'Górny', 'adam.gorny@gmail.com']
df

  first      last                  email
0  Adam  Kowalski  adam.kowalki@mail.com
1   Ewa     Nowak  ewa.kowalska@mail.com
2   Jan     Górny   adam.gorny@gmail.com

In [34]:
df.loc[2, ['last', 'email']] = ['Dolny', 'jan.dolny@gmail.com']
df

  first      last                  email
0  Adam  Kowalski  adam.kowalki@mail.com
1   Ewa     Nowak  ewa.kowalska@mail.com
2   Jan     Dolny    jan.dolny@gmail.com

In [40]:
df.loc[2, 'last'] = 'Maly'
df

  first      last                  email
0  Adam  Kowalski  adam.kowalki@mail.com
1   Ewa     Nowak  ewa.kowalska@mail.com
2   Jan      Maly    jan.dolny@gmail.com

In [41]:
df.at[2, 'last'] = 'Duzy'
df

  first      last                  email
0  Adam  Kowalski  adam.kowalki@mail.com
1   Ewa     Nowak  ewa.kowalska@mail.com
2   Jan      Duzy    jan.dolny@gmail.com

In [47]:
filt = (df['email'] == 'jan.dolny@gmail.com')
df[filt]['last'] = 'Ewa'

C:\Users\gracj\AppData\Local\Temp\ipykernel_1476\1770570991.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last'] = 'Ewa'

In [50]:
filt = (df['email'] == 'jan.dolny@gmail.com')
df.loc[filt,'last'] = 'Ewa'
df

  first      last                  email
0  Adam  Kowalski  adam.kowalki@mail.com
1   Ewa     Nowak  ewa.kowalska@mail.com
2   Jan       Ewa    jan.dolny@gmail.com

In [54]:
df['email'] = df['email'].str.upper()
df

  first      last                  email
0  Adam  Kowalski  ADAM.KOWALKI@MAIL.COM
1   Ewa     Nowak  EWA.KOWALSKA@MAIL.COM
2   Jan       Ewa    JAN.DOLNY@GMAIL.COM

In [55]:
df['email'].apply(len)

0    21
1    21
2    19
Name: email, dtype: int64