In [28]:
import pandas as pd

In [29]:
people = {
    'first': ['Adam', 'Ewa', 'Jan'],
    'last': ['Kowalski', 'Nowak', 'Nowak'],
    'email': ['adam.kowalki@mail.com', 'ewa.kowalska@mail.com', 'jan.kowalski@gmail.com']
}

In [30]:
df = pd.DataFrame(people)

In [31]:
df['email']

0     adam.kowalki@mail.com
1     ewa.kowalska@mail.com
2    jan.kowalski@gmail.com
Name: email, dtype: object

In [32]:
df.email

0     adam.kowalki@mail.com
1     ewa.kowalska@mail.com
2    jan.kowalski@gmail.com
Name: email, dtype: object

In [33]:
type(df['email'])

pandas.core.series.Series

In [34]:
df[['last', 'email']]

       last                   email
0  Kowalski   adam.kowalki@mail.com
1     Nowak   ewa.kowalska@mail.com
2     Nowak  jan.kowalski@gmail.com

In [35]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [36]:
df.iloc[[0, 1], 1]

0    Kowalski
1       Nowak
Name: last, dtype: object

In [37]:
df.loc[[0, 1], ['email', 'first']]

                   email first
0  adam.kowalki@mail.com  Adam
1  ewa.kowalska@mail.com   Ewa

In [38]:
df.set_index('email')
df

In [41]:
df.set_index('email', inplace=True)
df

KeyError: "None of ['email'] are in the columns"

In [43]:
df.index

Index(['adam.kowalki@mail.com', 'ewa.kowalska@mail.com',
       'jan.kowalski@gmail.com'],
      dtype='object', name='email')

In [46]:
df.loc['jan.kowalski@gmail.com', 'last']

'Nowak'

In [49]:
df.iloc[0]

first        Adam
last     Kowalski
Name: adam.kowalki@mail.com, dtype: object

In [50]:
df.reset_index(inplace=True)
df

                    email first      last
0   adam.kowalki@mail.com  Adam  Kowalski
1   ewa.kowalska@mail.com   Ewa     Nowak
2  jan.kowalski@gmail.com   Jan     Nowak