In [1]:
import pandas as pd
people = {
    'first': ['Adam', 'Ewa', 'Jan'],
    'last': ['Kowalski', 'Nowak', 'Nowak'],
    'email': ['adam.kowalki@mail.com', 'ewa.kowalska@mail.com', 'jan.kowalski@gmail.com']
}
df = pd.DataFrame(people)

In [20]:
filt = (df['last'] == 'Nowak') & (df['first'] == 'Ewa')

In [7]:
df[filt]

  first   last                   email
1   Ewa  Nowak   ewa.kowalska@mail.com
2   Jan  Nowak  jan.kowalski@gmail.com

In [22]:
df.loc[filt, 'email']

1    ewa.kowalska@mail.com
Name: email, dtype: object

In [23]:
filt2 = (df['last'] == 'Kowalski') | (df['first'] == 'Ewa')

In [25]:
df[~filt2]

  first   last                   email
2   Jan  Nowak  jan.kowalski@gmail.com