In [9]:
import pandas as pd
people = {
    'first': ['Adam', 'Ewa', 'Jan', 'Adam'],
    'last': ['Kowalski', 'Nowak', 'Nowak', 'Nowak'],
    'email': ['adam.kowalki@mail.com', 'ewa.kowalska@mail.com', 'jan.kowalski@gmail.com', 'adam.nowak@onet.pl']
}
df = pd.DataFrame(people)

In [11]:
df.sort_values(by='last', ascending=False)

  first      last                   email
1   Ewa     Nowak   ewa.kowalska@mail.com
2   Jan     Nowak  jan.kowalski@gmail.com
3  Adam     Nowak      adam.nowak@onet.pl
0  Adam  Kowalski   adam.kowalki@mail.com

In [14]:
df.sort_values(by=['last', 'first'])

  first      last                   email
0  Adam  Kowalski   adam.kowalki@mail.com
3  Adam     Nowak      adam.nowak@onet.pl
1   Ewa     Nowak   ewa.kowalska@mail.com
2   Jan     Nowak  jan.kowalski@gmail.com

In [19]:
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)

In [21]:
df

  first      last                   email
3  Adam     Nowak      adam.nowak@onet.pl
1   Ewa     Nowak   ewa.kowalska@mail.com
2   Jan     Nowak  jan.kowalski@gmail.com
0  Adam  Kowalski   adam.kowalki@mail.com

In [23]:
df.sort_index()

  first      last                   email
0  Adam  Kowalski   adam.kowalki@mail.com
1   Ewa     Nowak   ewa.kowalska@mail.com
2   Jan     Nowak  jan.kowalski@gmail.com
3  Adam     Nowak      adam.nowak@onet.pl

In [24]:
df['last'].sort_values()

0    Kowalski
3       Nowak
1       Nowak
2       Nowak
Name: last, dtype: object